.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.avatar {
  position: absolute;
  top: 20;
  left: 20;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

.button {
  cursor: pointer;
  outline: none;
  user-select: none;
  color: gray;
}

.search-button {
  background: initial;
  border: none;
}